### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data = purchase_data.rename(columns={"Purchase ID": "Purchase_ID", "Item ID": "Item_ID", "Item Name":"Item_Name"})
purchase_data.head(20).style.set_properties(**{'background-color': 'black','color': 'lightgreen','border-color': 'white'})

## Player Count

* Display the total number of players

In [2]:
#print the n unique fiqure
print("The total number of unique players is " + str(purchase_data.SN.nunique()))

The total number of unique players is 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#crate list of items and create the eman
U_Item_Name = purchase_data.Item_Name.nunique()
AVG_Price = purchase_data.Price.mean()
#open data frame then add value
df = pd.DataFrame(columns=['U_Item_Name', 'AVG_Price'])
df = df.append({'U_Item_Name': U_Item_Name, 'AVG_Price': AVG_Price}, ignore_index=True)
#print dataframe
print(df)

   U_Item_Name  AVG_Price
0        179.0   3.050987

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
df2 = purchase_data[['SN','Gender']]
#get data
df3 = df2.drop_duplicates(subset='SN',keep='first')
#drop duplicates
df4_Total = df3['SN'].count()
#count names
df4 = df3.groupby('Gender').agg({'SN':'count'})
#group by gender
df4['Total%'] = df4['SN'] / df4_Total
#add total%
df4['Total%'] = df4['Total%'].map("{:.2%}".format)
#format numbers
df4.head().style.set_properties(**{'background-color': 'black','color': 'lawngreen','border-color': 'white'})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# df2 = purchase_data[['Gender','Price']]
# df3 = df2.groupby('Gender').agg({'Price':'mean', 'Price':'count'})

df2 = purchase_data[['Gender','Price']]

# purchase count
df_count = df2.groupby('Gender').agg({'Price':'mean', 'Price':'count'})
df_count.rename(columns={'Price':'Purchase_Count'}, inplace=True)
# df_count.head()

# average of price
df_average = df2.groupby(['Gender']).mean()
df_average.rename(columns={'Price': 'Average_Purchase_Count'}, inplace=True)

# purchase total per person
df_new = purchase_data[['Gender','SN', 'Price']]
df_total = df_new.groupby(['Gender',]).sum()
df_total.rename(columns={'Price': 'Total_Purchase_Price'}, inplace=True)

# df_total.head()

# Avg Total Purchase per
df_total_per = df_new.groupby(['Gender', 'SN']).sum()
df_avg_total = df_total_per.groupby('Gender').mean()
df_avg_total = df_avg_total.rename(columns={'Price': 'Avg_Total_Purchase_per_Person'})
#df_avg_total.head()

df_total_result = pd.DataFrame([df_count.Purchase_Count, df_average.Average_Purchase_Count, df_total.Total_Purchase_Price, df_avg_total.Avg_Total_Purchase_per_Person]).transpose()
df_total_result.columns = [c.replace('_', ' ') for c in df_total_result.columns]
df_total_result.head().style.set_properties(**{'background-color': 'black','color': 'lawngreen','border-color': 'white'})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
#get data
age_demo = purchase_data[['Age','SN']]
#drop duplciates
age_demo = age_demo.drop_duplicates(subset='SN',keep='first')
age_demo_count = age_demo['Age'].count()
#age_demo.head()
age_demo['Age_Bin'] = pd.cut(x=age_demo['Age'], bins=[0, 9, 14, 19, 24, 29, 34, 39, 200] ,labels=['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+'])

age_demo = age_demo.groupby('Age_Bin').agg({'Age':'count'})
age_demo['Percentage of Players'] = (age_demo['Age'] / age_demo_count)
age_demo['Percentage of Players'] = age_demo['Percentage of Players'].map("{:.2%}".format)
age_demo.style.set_properties(**{'background-color': 'black','color': 'lawngreen','border-color': 'white'})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:

df1 = purchase_data[['Age','Price']]
df1['Age'] = pd.cut(x=df1['Age'], bins=[0, 9, 14, 19, 24, 29, 34, 39, 200] ,labels=['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+'])
df2 = df1

# purchase count
df_count = df2.groupby('Age').agg({'Price':'mean', 'Price':'count'})
df_count.rename(columns={'Price':'Purchase_Count'}, inplace=True)
# df_count.head()

# average of price
df_average = df2.groupby(['Age']).mean()
df_average.rename(columns={'Price': 'Average_Purchase_Count'}, inplace=True)

# purchase total per person
df_new = purchase_data[['Age','SN', 'Price']]
df_new['Age'] = pd.cut(x=df_new['Age'], bins=[0, 9, 14, 19, 24, 29, 34, 39, 200] ,labels=['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+'])
df_total = df_new.groupby(['Age',]).sum()
df_total.rename(columns={'Price': 'Total_Purchase_Price'}, inplace=True)

# df_total.head()

# Avg Total Purchase per
df_total_per = df_new.groupby(['Age', 'SN']).sum()
df_avg_total = df_total_per.groupby('Age').mean()
df_avg_total = df_avg_total.rename(columns={'Price': 'Avg_Total_Purchase_per_Person'})
#df_avg_total.head()

df_total_result = pd.DataFrame([df_count.Purchase_Count, df_average.Average_Purchase_Count, df_total.Total_Purchase_Price, df_avg_total.Avg_Total_Purchase_per_Person]).transpose()
df_total_result.columns = [c.replace('_', ' ') for c in df_total_result.columns]
df_total_result.style.set_properties(**{'background-color': 'black',                                                   
                                    'color': 'lawngreen',                       
                                    'border-color': 'white'})

<ipython-input-7-8f28368b6602>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Age'] = pd.cut(x=df1['Age'], bins=[0, 9, 14, 19, 24, 29, 34, 39, 200] ,labels=['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+'])
<ipython-input-7-8f28368b6602>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['Age'] = pd.cut(x=df_new['Age'], bins=[0, 9, 14, 19, 24, 29, 34, 39, 200] ,labels=['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+'])

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
#get data and purchase count
top_spenders = purchase_data[['SN','Price']]
Purchase_Count = top_spenders.groupby('SN').count()
Purchase_Count.rename(columns={'Price':'Purchase_Count'}, inplace=True)

#get avg purchase rpice
Avg_Pur_Price = top_spenders.groupby('SN').mean()
Avg_Pur_Price.rename(columns={'Price':'Avg_Pur_Price'}, inplace=True)

#get sum price
Avg_sum_Price = top_spenders.groupby('SN').sum()
Avg_sum_Price.rename(columns={'Price':'Avg_sum_Price'}, inplace=True)

#paste them and format
top_spenders = pd.DataFrame([Purchase_Count.Purchase_Count, Avg_Pur_Price.Avg_Pur_Price, Avg_sum_Price.Avg_sum_Price]).transpose()
top_spenders = top_spenders.sort_values(by='Avg_sum_Price',ascending=False)
top_spenders.head().style.set_properties(**{'background-color': 'black','color': 'lawngreen','border-color': 'white'})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
#get data
Popular_Items = purchase_data[['Item_ID','Item_Name','Price']]
#get purchase count
Purchase_Count = Popular_Items.groupby(['Item_ID','Item_Name']).count()
Purchase_Count.rename(columns={'Price':'Purchase_Count'}, inplace=True)
#get item price
Item_Price = Popular_Items.groupby(['Item_ID','Item_Name']).first()
Item_Price.rename(columns={'Price':'Item_Price'}, inplace=True)
#get total vlaue
Total_Value = Popular_Items.groupby(['Item_ID','Item_Name']).sum()
Total_Value.rename(columns={'Price':'Total_Value'}, inplace=True)
#paste all of the value togther format and sort 
Popular_Items = pd.DataFrame([Purchase_Count.Purchase_Count, Item_Price.Item_Price, Total_Value.Total_Value]).transpose()
Popular_Items = Popular_Items.sort_values(by='Purchase_Count',ascending=False)
Popular_Items.head(5).style.set_properties(**{'background-color': 'black',                                                   
                                    'color': 'lawngreen',                       
                                    'border-color': 'white'})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
#show most popular items 
Popular_Items = Popular_Items.sort_values(by='Total_Value',ascending=False)
Popular_Items.head(5).style.set_properties(**{'background-color': 'black',                                                   
                                    'color': 'lawngreen',                       
                                    'border-color': 'white'})